/*---- Nav Bar ----*/

.logo:hover {
    text-decoration: none;
}

.AM-logo {
    display: inline-block;
    position: relative;
    height: 2rem;
    width: 2rem;
    margin: 0 14px;
    top: 11px;
    background-image: url(../../images/AM-website-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

nav a:hover {
	text-decoration: none;
}

a.projects-btn:hover {
	text-decoration: none;
}

#andrew {
	background-image: url(../../images/ripple.gif);
	background-size: 184% 128%;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	background-position-x: 52%;
}

/*---- Projects Section ----*/

.content .fa-file {
    font-size: .9rem;
}

.tiles article .project-details {
    position: relative;
    top: 10px;
    left: -50px;
    letter-spacing: 5px;
    opacity: 0;
    transition: 1s ease;
}

a:focus {
	color: whitesmoke;
}

.tiles article:hover .project-details {
    opacity: 1;
    left: 20px;
}

.tiles article .project-details .fa-paper-plane {
    font-size: .9rem;
}

.project-details a {
	text-decoration: none;
	margin: 0 10px;
	display: inline-block;
}

.project-details .icon.fa-github {
	font-size: 1.2rem;
}

.project-details {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.project-detail-github {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}

article:hover .project-header {
	transition: 0.5s ease-in-out;
	text-shadow: 0px 2px 9px #313131, 0px 2px 18px #000000;
}

/*---- Skills and Tech Section ----*/

.icon > img {
	width: 25%;
	vertical-align: middle;
	font-weight: 600;
}

#skills {
	background-image: url('../../images/techskills-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.skills {
   font-weight: 600;
   margin-bottom: 50px;
}
.skills .item {
   text-align: center;
   margin-bottom: 30px;
}
.skills .item .icon {
   margin: 0 auto 30px;
   -webkit-transition: all .3s ease-out;
   transition: all .3s ease-out;
}

.skills-title {
    margin: 50px 0;
    text-align: center;
}

.skills .item {
    text-align: center;
	margin-bottom: 30px;
	width: 24.5%;
}

.skills .item .icon{
    margin:0 auto 30px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.skills .item h2{
    font-size:24px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.skills .item:hover .icon{
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
    -webkit-transition:-webkit-transform .4s ease-out;
    transition:transform .4s ease-out;
}

.es6-short {
	display: none;
}

/*---- About Me Section ----*/

.aboutme-contact-section {
	position: relative;
	background-image: linear-gradient(14deg, #123981, #184d86, #313257, #242943);
	/* border-top: solid 1px #242943; */
	border-top: none;
}

.aboutme-contact-section .inner {
	padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

.resume-button {
	z-index: 9999;
}

.resume-button:hover {
    text-decoration: none;
}

/*---- Contact Section ----*/

#contact canvas {
    position: absolute;
    top: 0;
	left: 0;
}

/* #contact {
	Adds a greenish tint to the bottom of the contact section
    background: linear-gradient(rgba(43, 105, 81, 0) 0%, rgb(70, 122, 131) 176%);
} */

form {
	margin: 100px 0 2em 0;
}

form > .fields > .field {
	transition: all 225ms ease;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 29px;
    resize: none;
    z-index: 9999;
}

.contact-method {
	z-index: 9999;
}

.contact-btns {
	z-index: 9999;
}

.lets {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.talk {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.error {
    margin: 3px 0 0 0;
    font-size: 1rem;
    color: #dd7a7a;
}

#send-message:hover {
	background-image: url('../../images/ocean-watercolor.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#letstalk {
	font-size: 3rem;
	display: inline-block;
	position: absolute;
	animation-duration: 2s;
	animation-iteration-count: 4;
	transform-origin: bottom;
}

.bounce-7 {
	animation-name: bounce-7;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-80px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}


/*---- Footer Section ----*/

#footer .inner {
	text-align: center;
}

ul.icons li {
	margin: 0 20px;
}


/*-----------------------
----- Media Queries ----- 
-------------------------*/ 

@media screen and (max-width: 480px) {

	.d3 {
		padding-left: 0;
	}

	.es6-short {
		display: inline-block;
	}

	.es6-long {
		display: none
	}
	
}

@media screen and (max-width: 736px) {

	ul.icons li {
		padding: 0 0.75em 0 0;
		margin: 0 10px;
	}

}

/*------------------------
---Scrolling animations---
-------------------------*/

.scroll-fade-in {
	opacity:0;
	-webkit-transition:opacity 0.6s ease-out;
	transition:opacity 0.6s ease-out;
}

.scroll-fade-in.in{
	opacity:1;
}

.scroll-scale-in{
	opacity:0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform:scale(0.5);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
	transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}

.scroll-scale-in.in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.scroll-fade-right{
	opacity:0;
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform:translateX(-100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scroll-fade-right.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scroll-fade-left{
	opacity:0;
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform:translateX(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scroll-fade-left.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scroll-fade-up {
	opacity:0;
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform:translateY(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-in;
	transition: transform .4s ease-out,opacity .4s ease-in-out;
}

.scroll-fade-up.in {
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}

.scroll-fade-up.d1{
	transition-delay:.1s;
}

.scroll-fade-up.d2{
	transition-delay:.2s;
}

.scroll-fade-up.d3{
	transition-delay:.3s;
}

.touch.scrollimation.fade-in{
	opacity:1;
}

.touch.scrollimation.scale-in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.touch.scrollimation.fade-right{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch.scrollimation.fade-left{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch.scrollimation.fade-up{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}
